@font-face {
	font-family: 'Gerhaus';
	src: url(../../assets/fonts/Gerhaus-Regular.woff2) format('woff2'),
	url(../../assets/fonts/Gerhaus-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gerhaus';
	src: url(../../assets/fonts/Gerhaus-Regular-Italic.woff2) format('woff2'),
	url(../../assets/fonts/Gerhaus-Regular-Italic.woff) format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}